{% extends "homepage/base.html" %}
{% load static %}
{% block body_block %}
      <div class="row">
        <div class="col"><a href="{% url 'homepage:item' %}"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></a></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="w-100"></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="w-100"></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="w-100"></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
        <div class="col"><img class="imgrid" src="{% static "images/gridexample.png" %}" alt=""></div>
      </div>

{% endblock %}
