{% extends "homepage/homepage_base.html" %}
{% load static %}
{% block body_block %}


    <div class="row">

    {% for item in item_list %}
      <div class="col">
        <div class="product box-element">
        <a href="{{item.id}}"><img class="imgrid" src="{{item.image.url}}" alt=""></a>
        <!-- <button type="button" class="addc btn btn-warning">Add to Cart</button> -->
        <h6><strong>{{item.name}}</strong></h6>
      		<hr>

      		<button data-product={{item.id}} data-action="add" class="btn btn-outline-success add-btn update-cart">Add to Cart</button>
      		<h4 style="display: inline-block; float: right"><strong>{{item.price}}</strong>
        </div>
      </div>

    {% endfor %}
    </div>


{% endblock %}
